/Users/frankdzzz/Jupyter[[:space:]]Notes/Replicating[[:space:]]Alexey2021/models/08_pretrained_vit_feature_extractor_pizza_steak_sushi.pt filter=lfs diff=lfs merge=lfs -text
/Users/frankdzzz/Jupyter\\[[:space:]]Notes/Replicating\\[[:space:]]Alexey2021/models/08_pretrained_vit_feature_extractor_pizza_steak_sushi.pt filter=lfs diff=lfs merge=lfs -text
